.main-image {
  width: 100%;
  height: 600px;
}
/* Container holding the image and the text */
.container {
    position: right;
    text-align: center;

}
.lay{
background-image: url("../img/backgrounds/foodsBg.jpg");
height: 80vh;
	width:100%;
	background-repeat: no-repeat;
	background-size:cover;
	display: flex;
	justify-content:center;
	align-items:center;
	background-attachment: fixed;;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    padding-bottom: 2px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: raleway;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.imgpos {
  padding-left: 290px;
}
.selector {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 350px;
    background-color: #f1f1f1;
}

.selectors a {
    display: block;
    color: #000;
    padding: 40.5px 100px;
    text-decoration: none;
}

/* Change the link color on hover */
.selectors a:hover {
    background-color:#F15A29 ;
    color: white;
    text-decoration: none;
}
.selectors {
  font-weight: 550;
  font-size: 16.5px;
}
.button1 {
  border: 1px solid #F15A29;
  background: white;
  border-radius: 3px;
  font-size: 16px;
  color: #F15A29;
  padding: 8px 30px;
}
.button1:hover {
  border:  1px solid #F15A29;
  background: white;
  border-radius: 3px;
  font-size: 16px;
  color: #F15A29;
  padding: 8px 30px;
  cursor: pointer;
  box-shadow: 2px 2px;
}
.center {
  padding-left: 600px;
}
body {
  font-family:  sans-serif;
}

.img-box {
	position: relative;
	display: block;
	width: 100%;
}
.postioning {
  padding-right: 49.8px;
}
.img-shadow {
  border: 2px solid #cccccc;
  border-width: 2px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.iconPadding {
  padding: 8px;
}
.sizing {
  font-size: 14px;
  color: white;
}
.footerPos {
  align-items: center;
  margin-left: 43%;
}
.imageP {
  padding-right: 12px;
}

.input-resize {
  height: 42px;
  padding-right: 160px;
  text-align: -webkit-auto;
  margin-right: 25px;
  border-radius: 3px;
}
.subscribe {
  position: absolute;
  top: 455%;
  left: 50%;
  transform: translate(-50%, 70%);
  color: white;
}
.button2 {
  border: 1px solid #F15A29;
  background: #F15A29;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  padding: 8px 75px 8px 75px;
}
.button2:hover {
  border: 3px solid #F15A29;
  background: #F15A29;
  border-radius: 3px;
  font-size: 16px;
  color: black;
  padding: 8px 75px 8px 75px;
  cursor: pointer;
}
.subscribe-text {
  font-size: 28px;
  font-family: cursive;
}
.iconPadding {
 padding: 8px;
 padding-bottom: 20px;
}
.customersHeading {
  color: #F15A29;
  font-weight: bold;
  font-size: 18px;
  font-family: cursive;
  padding-top: 20px;
}
.customersText {
  font-family: cursive;
}
.customersBorder {
    border: 3px solid #cccccc;
    box-shadow: 30px;
    margin-right: 9%;
    margin-left: 9%;
    border-radius: 4px;
}

.foodCarousel {
  position: absolute;


}
.carousel-spacing {
  padding: 30px 40px 40px 40px;
  transform: translate(-0.01%, -140%);
  border: 3px solid white;
  background: white;

}
div.vertical-line{
  width: 2px;
  background-color: #cccccc;
  height: 100px;
  float: left;
  margin-top: 15px;
}
.brekoPos {
  position: absolute;
  top: 30%;
  left: 53%;
  transform: translate(-50%, 70%);
  color: white;
  font-size: 20px;
  font-family: cursive;
}
.breko, .brekoPos:hover {
  color: black;
  font-size: 20px;
  font-family: cursive;
  cursor: pointer;
  background-color: white;
}
.lunchPos {
  position: absolute;
  top: 30%;
  left: 53%;
  transform: translate(-50%, 70%);
  color: white;
  font-size: 20px;
  font-family: cursive;
}
.lunch, .lunchPos:hover {
  color: black;
  font-size: 20px;
  font-family: cursive;
  cursor: pointer;
  background-color: white;
}
.dinnerPos {
  position: absolute;
  top: 30%;
  left: 53%;
  transform: translate(-50%, 70%);
  color: white;
  font-size: 20px;
  font-family: cursive;
}
.dinner, .dinnerPos:hover {
  color: black;
  font-size: 20px;
  font-family: cursive;
  cursor: pointer;
  background-color: white;
}
#chick{
  position: absolute;
    margin-left: 37px;
    margin-top: -457px;
    color: #F15A29;
    text-align: center;

}